# .gitattributes 文件内容
.gitignore              export-ignore  # 排除 .gitignore
.gitmodules             export-ignore  # 排除 .gitmodules
.gitattributes          export-ignore  # 排除自身
README.md               export-ignore  
requirements.txt        export-ignore  
requirements-dev.txt    export-ignore  
requirements.txt        export-ignore  # 排除单个文件
docs/                   export-ignore  # 排除整个目录
docs                    export-ignore
test-data/              export-ignore  # 排除整个目录
*.log                   export-ignore  # 排除所有 .log 后缀文件（即使被 Git 跟踪）