# .gitattributes 文件内容
config-dev.ini          export-ignore 
.gitignore              export-ignore
.gitmodules             export-ignore
README.md               export-ignore  
requirements.txt        export-ignore  
requirements-dev.txt    export-ignore  
requirements.txt        export-ignore  # 排除单个文件
docs/                   export-ignore  # 排除整个目录
docs                    export-ignore
test-data/              export-ignore  # 排除整个目录
*.log                   export-ignore  # 排除所有 .log 后缀文件（即使被 Git 跟踪）